
body {
    font-family: "Parkinsans", sans-serif;
    background-color: #CAF4FF;
    margin: 0;
    background: url('./scenery.jpeg') no-repeat center center fixed; /* No tiling */
    background-size: cover;  
    background-color:rgb(255, 255, 255 ,0.3); /* White color with 70% opacity */
    background-blend-mode: overlay; /* Blends the color and the image */
    margin: 0;
    height: 100vh;  
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px ;
     background-color: rgba(151, 236, 202, 0.3); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: black;
    font-family: "Parkinsans", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}


.navbar {
    display: flex;
    gap: 35px;
}

.navbar a {
    font-size: 25px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}

 .navbar a:hover {
    color: rgb(255, 255, 255); 
 }  
 


.btn{
    position: relative;
    right: 40px;
    font-size: 18px;
    color: rgb(221, 87, 165);
    border-radius: 5px;
    background-color: #F6D6D6;
    padding: 8px 14px;
    cursor : pointer;
    border: 3px solid rgb(221, 87, 165);
    box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 rgb(221, 87, 165);
    
}

.btn:hover{
    box-shadow:3px 3px white, 6px 6px 0 0 rgb(221, 87, 165);
    transform : translate(-2px,-2px);
}


.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.tagline {
    font-family: "Caveat Brush", cursive;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}






    



